<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Email Processor", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "Processar Emails", new_processor_path, class: active_tab(root_path, new_processor_path)%>
        </li>
        <li class="nav-item">
          <%= link_to "Clientes", customers_path, class: active_tab(customers_path) %>
        </li>
        <li class="nav-item">
          <%= link_to "Logs", logs_path, class: active_tab(logs_path) %>
        </li>
      </ul>
    </div>
  </div>
</nav>